<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_UpdateFeed>
            <version>0.1.0</version>
        </Shopbedding_UpdateFeed>
    </modules>
    <global>
        <models>
            <shopbedding_updatefeed>
                <class>Shopbedding_UpdateFeed_Model</class>
            </shopbedding_updatefeed>
        </models>
        <blocks>
            <shopbedding_updatefeed>
                <class>Shopbedding_UpdateFeed_Block</class>
            </shopbedding_updatefeed>
        </blocks>
        <helpers>
            <shopbedding_updatefeed>
                <class>Shopbedding_UpdateFeed_Helper</class>
            </shopbedding_updatefeed>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shopbedding_updatefeed before="Mage_Adminhtml">Shopbedding_UpdateFeed_Adminhtml</shopbedding_updatefeed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_shopbedding_update_feed>
                <observers>
                    <shopbedding_updatefeed>
                        <class>shopbedding_updatefeed/observer</class>
                        <method>saveSystemConfig</method>
                    </shopbedding_updatefeed>
                </observers>
            </admin_system_config_changed_section_shopbedding_update_feed>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <update_feed_file>
                <schedule>
                    <config_path>shopbedding_update_feed/settings/cron_schedule</config_path>
                </schedule>
                <run>
                    <model>shopbedding_updatefeed/update::doUpdate</model>
                </run>
            </update_feed_file>
        </jobs>
    </crontab>
</config>