<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_Reviews>
            <version>0.1.0</version>
        </Shopbedding_Reviews>
    </modules>
    <global>
        <blocks>
            <review>
                <rewrite>
                    <product_view_list>Shopbedding_Reviews_Block_Review_Product_View_List</product_view_list>
                </rewrite>
            </review>
        </blocks>
    </global>
</config>