<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shopbedding_Canonical>
            <version>1.0.0</version>
        </Shopbedding_Canonical>
    </modules>
    <global>
        <models>
            <shop_canonical>
                <class>Shopbedding_Canonical_Model</class>
                <resourceModel>shop_canonical_resource</resourceModel>
            </shop_canonical>
            <shop_canonical_resource>
                <class>Shopbedding_Canonical_Model_Resource</class>
                <entities>
                    <rule>
                        <table>canonical_rules</table>
                    </rule>
                </entities>
            </shop_canonical_resource>
        </models>
        <blocks>
            <shop_canonical>
                <class>Shopbedding_Canonical_Block</class>
            </shop_canonical>
        </blocks>
        <helpers>
            <shop_canonical>
                <class>Shopbedding_Canonical_Helper</class>
            </shop_canonical>
        </helpers>
        <resources>
            <shop_canonical_setup>
                <setup>
                    <module>Shopbedding_Canonical</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shop_canonical_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <shop_canonical>
                <use>admin</use>
                <args>
                    <module>Shopbedding_Canonical</module>
                    <frontName>canonical</frontName>
                </args>
            </shop_canonical>
        </routers>
    </admin>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <check_canonical>
                            <type>singleton</type>
                            <class>shop_canonical/observer</class>
                            <method>checkCanonical</method>
                    </check_canonical>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <shop_canonical>
                    <file>shopbedding/canonical.xml</file>
                </shop_canonical>
            </updates>
        </layout>
    </adminhtml>
</config>
