<?xml version="1.0"?>
<config>
    <modules>
        <Mod_TargetRule>
            <version>0.1.0</version>
        </Mod_TargetRule>
    </modules>
    <global>
        <blocks>
            <enterprise_targetrule>
                <rewrite>
                    <checkout_cart_crosssell>Mod_TargetRule_Block_Checkout_Cart_Crossell</checkout_cart_crosssell>
                </rewrite>
            </enterprise_targetrule>
        </blocks>
        <models>
            <mod_targetrule>
                <class>Mod_TargetRule_Model</class>
            </mod_targetrule>
        </models>
        <events>
            <targetrule_block_checkout_cart_crossell_get_exclude_product_ids>
                <observers>
                    <mod_targetrule>
                        <class>mod_targetrule/observer</class>
                        <method>excludeParentProducts</method>
                    </mod_targetrule>
                </observers>
            </targetrule_block_checkout_cart_crossell_get_exclude_product_ids>
            <targetrule_block_checkout_cart_crossell_get_target_link_collection>
                <observers>
                    <mod_targetrule>
                        <class>mod_targetrule/observer</class>
                        <method>addNotVisibleProducts</method>
                    </mod_targetrule>
                </observers>
            </targetrule_block_checkout_cart_crossell_get_target_link_collection>
        </events>
    </global>
</config>