<?xml version="1.0"?>
<config>
    <modules>
        <Mod_Review>
            <version>0.1.0</version>
        </Mod_Review>
    </modules>
    <frontend>
        <routers>
            <review>
                <modules>
                    <mod_review before="Mage_Review">Mod_Review</mod_review>
                </modules>
            </review>
        </routers>
    </frontend>
</config> 