<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_Title>
            <version>1.0.0</version>
        </Shopbedding_Title>
    </modules>
    <global>
        <blocks>
            <shopbedding_title>
                <class>Shopbedding_Title_Block</class>
            </shopbedding_title>
            <page>
                <rewrite>
                    <html_head>Shopbedding_Title_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>

</config>
