<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_Usps>
            <version>0.1.0</version>
        </Shopbedding_Usps>
    </modules>
    <global>
        <models>
            <shopbedding_usps>
                <class>SShopbedding_Usps_Model</class>
            </shopbedding_usps>
            <usa>
                <rewrite>
                    <shipping_carrier_usps>Shopbedding_Usps_Model_Shipping_Carrier_Usps</shipping_carrier_usps>
                </rewrite>
            </usa>
        </models>
        <helpers>
            <shopbedding_usps>
                <class>Shopbedding_FreeShipping_Helper</class>
            </shopbedding_usps>
        </helpers>
    </global>
</config>