<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_Redirect>
            <version>0.1.0</version>
        </Shopbedding_Redirect>
    </modules>
    <global>
        <models>
            <shopbedding_redirect>
                <class>Shopbedding_Redirect_Model</class>
            </shopbedding_redirect>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <shopbedding_redirect>
                        <class>shopbedding_redirect/observer</class>
                        <method>makeProductRedirect</method>
                    </shopbedding_redirect>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <frontend>
        <!-- This urls should be only secured: -->
        <secure_url>
            <checkout_cart>/checkout/cart</checkout_cart>
            <oauth>/oauth/customer_token</oauth>
            <newsletter>/newsletter/subscriber</newsletter>
        </secure_url>
    </frontend>
    <default>
        <!-- This urls should be only unsecured -->
        <unsecure_url>
            <customer_service>/customer-service</customer_service>
        </unsecure_url>
    </default>
</config>