<?xml version="1.0"?>
<config>
    <crontab>
        <jobs>
            <borderjump_borderpay>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>borderpay/method_borderpay::checkPendingOrders</model></run>
            </borderjump_borderpay>
        </jobs>
    </crontab>
    <modules>
       <BorderJump_BorderPay>
          <version>1.0.9</version>
       </BorderJump_BorderPay>
    </modules>
    <frontend>
        <routers>
            <checkout>        
                <args>
                    <modules>
                        <BorderJump_BorderPay before="Mage_Checkout">BorderJump_BorderPay</BorderJump_BorderPay>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <borderpay>
                    <file>borderpay.xml</file>
                </borderpay>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <borderpay>
                <class>BorderJump_BorderPay_Helper</class>
            </borderpay>
            <shipping>
                <rewrite>
                    <data>BorderJump_BorderPay_Helper_Data</data>
                </rewrite>
            </shipping>
        </helpers>
        <blocks>
            <borderpay>
                <class>BorderJump_BorderPay_Block</class>
            </borderpay>
        </blocks>
        <models>
            <borderpay>
                <class>BorderJump_BorderPay_Model</class>
                <resourceModel>borderpay_mysql4</resourceModel>
            </borderpay>
            <sales>
                <rewrite>
                    <order_pdf_invoice>BorderJump_BorderPay_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>BorderJump_BorderPay_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
            <borderpay_mysql4>
                <class>BorderJump_BorderPay_Model_Mysql4</class>
                <entities>
                    <payment>
                        <table>borderpay_payments</table>
                    </payment>
                </entities>
            </borderpay_mysql4>
        </models>
        <events>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <BorderJump_BorderPay_Model_Observer>
                        <type>singleton</type>
                        <class>BorderJump_BorderPay_Model_Observer</class>
                        <method>controller_action_predispatch_checkout_onepage_saveOrder_hook</method>
                    </BorderJump_BorderPay_Model_Observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <sales_order_place_before>
                <observers>
                    <BorderJump_BorderPay_Model_Observer>
                        <type>singleton</type>
                        <class>BorderJump_BorderPay_Model_Observer</class>
                        <method>sales_order_place_before_hook</method>
                    </BorderJump_BorderPay_Model_Observer>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <BorderJump_BorderPay_Model_Observer>
                        <type>singleton</type>
                        <class>BorderJump_BorderPay_Model_Observer</class>
                        <method>sales_order_place_after_hook</method>
                    </BorderJump_BorderPay_Model_Observer>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <borderpay_setup>
                <setup>
                    <module>BorderJump_BorderPay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </borderpay_setup>
            <borderpay_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </borderpay_write>
            <borderpay_read>
               <connection>
                <use>core_read</use>
              </connection>
            </borderpay_read>
        </resources>
    </global>
    <default>
        <payment>
            <borderpay>
                <active>0</active>
                <model>borderpay/method_borderpay</model>
                <order_status>pending</order_status>
                <title>International Payment Options</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </borderpay>
         </payment>
    </default>
</config>
