<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <locale>
                    <fields>
                        <code>
                            <backend_model>core/config_data</backend_model>
                        </code>
                    </fields>
                </locale>
            </groups>
        </general>
    </sections>
</config>
