<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shopbedding_Checkout>
            <version>0.1.0</version>
        </Shopbedding_Checkout>
    </modules>
  
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Shopbedding_Checkout before="Mage_Checkout">Shopbedding_Checkout</Shopbedding_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
		
    </frontend>	
</config>