<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_ReviewCaptcha>
            <version>0.1.0</version>
        </Shopbedding_ReviewCaptcha>
    </modules>
    <frontend>
        <routers>
            <mycms>
                <use>standard</use>
                <args>
                    <module>Shopbedding_ReviewCaptcha</module>
                    <frontName>review_captcha</frontName>
                </args>
            </mycms>
            <review>
                <args>
                    <modules>
                        <Shopbedding_ReviewCaptcha before="Mage_Review">Shopbedding_ReviewCaptcha</Shopbedding_ReviewCaptcha>
                    </modules>
                </args>
            </review>
        </routers>
    </frontend>	

    <global>
        <!--<routers>-->
            <!--<review>-->
                <!--<rewrite>-->
                    <!--<product>-->
                        <!--<to>Shopbedding_ReviewCaptcha/product</to>-->
                        <!--<override_actions>true</override_actions>-->
                        <!--<actions>-->
                        <!--<post><to>Shopbedding_ReviewCaptcha/product/post</to></post>-->
                        <!--</actions>-->
                    <!--</product>-->
                <!--</rewrite>-->
            <!--</review>-->
        <!--</routers>-->

        <blocks>
            <review>
                <rewrite>
                    <form>Shopbedding_ReviewCaptcha_Block_Form</form>
                </rewrite>
            </review>
        </blocks>
    </global>

</config>

