<?xml version="1.0"?>
<config>
    <modules>
        <BorderJump_BorderShip>
            <version>2.0.11</version>
        </BorderJump_BorderShip>
    </modules>
    <admin>
        <routers>
            <bordership>
                <use>admin</use>
                <args>
                    <module>BorderJump_BorderShip</module>
                    <frontName>bordership</frontName>
                </args>
            </bordership>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bordership>
                    <file>bordership.xml</file>
                </bordership>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <bordership>
                    <file>bordership.xml</file>
                </bordership>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <bordership>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>bordership/carrier_bordership</model>
                <name>BorderShip</name>
                <title>International Shipping</title>
                <specificerrmsg>
                    This shipping method is currently unavailable.
                    If you would like to ship using this shipping
                    method, please contact us.
                </specificerrmsg>
                <handling_type>F</handling_type>
                <showmethod>0</showmethod>
            </bordership>
        </carriers>
    </default>
    <global>
        <helpers>
            <shipping>
                <rewrite>
                    <data>BorderJump_BorderShip_Helper_Data</data>
                </rewrite>
            </shipping>
        </helpers>
        <blocks>
            <bordership>
                <class>BorderJump_BorderShip_Block</class>
            </bordership>
            <shipping>
                <rewrite>
                    <tracking_popup>BorderJump_BorderShip_Block_Tracking_Popup</tracking_popup>
                </rewrite>
            </shipping>
        </blocks>
        <models>
            <core>
                <rewrite>
                    <translate>BorderJump_BorderShip_Model_Translate</translate>
                </rewrite>
            </core>
	    <directory>
		<rewrite>
		    <currency>BorderJump_BorderShip_Model_Currency</currency>
		</rewrite>
	    </directory>
            <sales>
                <rewrite>
                    <order_shipment>BorderJump_BorderShip_Model_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
            <bordership>
                <class>BorderJump_BorderShip_Model</class>
                <resourceModel>bordership_mysql4</resourceModel>
            </bordership>
            <bordership_mysql4>
                <class>BorderJump_BorderShip_Model_Mysql4</class>
                <entities>
                    <carrier_tablerate>
                        <table>bordership_tablerate</table>
                    </carrier_tablerate>
                    <order>
                        <table>bordership_orders</table>
                    </order>
                    <track>
                        <table>bordership_tracks</table>
                    </track>
                </entities>
            </bordership_mysql4>
        </models>
        <events>
            <sales_order_place_before>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_place_before_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_place_after_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_place_after>
            <sales_order_shipment_track_save_before>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_shipment_track_save_before_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_shipment_track_save_before>
            <sales_order_shipment_track_save_after>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_shipment_track_save_after_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_track_delete_before>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_shipment_track_delete_before_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_shipment_track_delete_before>
            <sales_order_shipment_track_delete_after>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_shipment_track_delete_after_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_shipment_track_delete_after>
            <sales_order_shipment_save_before>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_shipment_save_before_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_shipment_save_after_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <BorderJump_BorderShip_Model_Observer>
                        <type>singleton</type>
                        <class>bordership/observer</class>
                        <method>sales_order_payment_cancel_hook</method>
                    </BorderJump_BorderShip_Model_Observer>
                </observers>
            </sales_order_payment_cancel>
        </events>
        <resources>
            <bordership_setup>
                <setup>
                    <module>BorderJump_BorderShip</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bordership_setup>
            <bordership_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bordership_write>
            <bordership_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bordership_read>
        </resources>
        <helpers>
            <bordership>
                <class>BorderJump_BorderShip_Helper</class>
            </bordership>
        </helpers>
    </global>
</config>
