<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_ReviewText>
            <version>0.1.0</version>
        </Shopbedding_ReviewText>
    </modules>
    <global>
        <helpers>
            <reviewtext>
                <class>Shopbedding_ReviewText_Helper</class>
            </reviewtext>
        </helpers>
        <models>
            <shopbeddingreviewtext>
                <class>Shopbedding_ReviewText_Model_Observer</class>
            </shopbeddingreviewtext>
        </models>
        <events>
            <set_review_success_message>
                <observers>
                    <shopbedding_reviewtext_observer>
                        <type>singleton</type>
                        <class>Shopbedding_ReviewText_Model_Observer</class>
                        <method>setText</method>
                    </shopbedding_reviewtext_observer>
                </observers>
            </set_review_success_message>
        </events>
    </global>
</config> 