<?xml version="1.0"?>
<config>
    <modules>
        <Gorilla_Heartbeat>
            <version>0.0.2</version>
        </Gorilla_Heartbeat>
    </modules>
    <global>
        <models>
            <heartbeat>
                <class>Gorilla_Heartbeat_Model</class>
            </heartbeat>
        </models>
		<helpers>
            <heartbeat>
                <class>Gorilla_Heartbeat_Helper</class>
            </heartbeat>
        </helpers>
        <resources>
            <heartbeat_setup>
                <setup>
                    <module>Gorilla_Heartbeat</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </heartbeat_setup>
        </resources>
        <tests>
            <api>
                <class>heartbeat/tests_api</class>
                <label>Api</label>
            </api>
            <catalog>
                <class>heartbeat/tests_catalog</class>
                <label>Catalog</label>
            </catalog>
            <filesystem>
                <class>heartbeat/tests_filesystem</class>
                <label>Filesystem</label>
            </filesystem>
        </tests>
        <template>
            <email>
                <heartbeat_warning_email_template translate="label" module="heartbeat">
                    <label>Warning Template</label>
                    <file>heartbeat_warnings.html</file>
                    <type>html</type>
                </heartbeat_warning_email_template>
            </email>
        </template>
    </global>
    <frontend>
    	<routers>
	            <heartbeat>
	                <use>standard</use>
	                <args>
	                    <module>Gorilla_Heartbeat</module>
	                    <frontName>heartbeat</frontName>
	                </args>
	            </heartbeat>
	   </routers>
    </frontend>
    <default>
		<heartbeat>
			<general>
				<enable>1</enable>
                <tests>api,catalog,filesystem</tests>
                <email_schedule>4</email_schedule>
			</general>
		</heartbeat>
	</default>
    <crontab>
        <jobs>
            <heartbeat_send_warnings>
                <schedule>
                    <cron_expr>1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>heartbeat/observer::processMailQueue</model>
                </run>
            </heartbeat_send_warnings>
        </jobs>
    </crontab>
</config>