<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shopbedding_ProductAlert>
            <version>0.1.1</version>
        </Shopbedding_ProductAlert>
    </modules>
    <!--<global>
        <controllers>
            <Mage_ProductAlert>
                <rewrite>
                    <addcontroller>Shopbedding_ProductAlert_AddController</addcontroller>
                </rewrite>
            </Mage_ProductAlert>
        </controllers>
    </global>-->
    <frontend>
        <routers>
            <productalert>
                <args>
                    <modules>
                        <Shopbedding_ProductAlert before="Mage_ProductAlert">Shopbedding_ProductAlert</Shopbedding_ProductAlert>
                    </modules>
                </args>
            </productalert>
        </routers>
    </frontend>
</config>
