<?xml version="1.0"?>
<config>
	<modules>
		<CompleteWeb_AutoInvoice>
			<version>0.1.0</version>
		</CompleteWeb_AutoInvoice>
	</modules>
	
	<global>
		<helpers>
			<autoinvoice>
				<class>CompleteWeb_AutoInvoice_Helper</class>
			</autoinvoice>
		</helpers>
		
		<models>
			<autoinvoice>
				<class>CompleteWeb_AutoInvoice_Model</class>
				<resourceModel>autoinvoice_mysql4</resourceModel>
			</autoinvoice>
		</models>
		
		<events>
			<sales_order_shipment_save_after>
				<observers>
					<sales_order_shipment_save_after_handler>
						<type>model</type>
						<class>autoinvoice/observer</class>
						<method>GenerateInvoice</method>
						<args></args>
					</sales_order_shipment_save_after_handler>
				</observers>
			</sales_order_shipment_save_after>
		</events>
	</global>
</config> 