<?xml version="1.0"?>
<config>
    <modules>
        <ChannelBrain_BizSyncXL>
            <version>1.0.5</version>
        </ChannelBrain_BizSyncXL>
    </modules>
    <frontend>
        <routers>
           <bizsyncxl>
                <use>standard</use>
                <args>
                    <module>ChannelBrain_BizSyncXL</module>
                    <frontName>bizsyncxl</frontName>
                </args>
            </bizsyncxl>
        </routers>
        <layout>
            <updates>
                <bizsyncxl>
                    <file>bizsyncxl.xml</file>
                </bizsyncxl>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <bizsyncxl>
                <class>ChannelBrain_BizSyncXL_Model</class>
                <resourceModel>bizsyncxl_mysql4</resourceModel>
            </bizsyncxl>
            <bizsyncxl_mysql4>
                <class>ChannelBrain_BizSyncXL_Model_Mysql4</class>
            </bizsyncxl_mysql4>
	       <paygate>
	          <rewrite>
	             <authorizenet>ChannelBrain_BizSyncXL_Model_Authorizenet</authorizenet>
	          </rewrite>
	       </paygate>
       </models>
        <resources>
            <bizsyncxl_setup>
                <setup>
                    <module>ChannelBrain_BizSyncXL</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bizsyncxl_setup>
            <bizsyncxl_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bizsyncxl_write>
            <bizsyncxl_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bizsyncxl_read>
        </resources>
 
        <blocks>
            <bizsyncxl>
                <class>ChannelBrain_BizSyncXL_Block</class>
            </bizsyncxl>
        </blocks>
 
        <helpers>
            <bizsyncxl>
                <class>ChannelBrain_BizSyncXL_Helper</class>
            </bizsyncxl>
        </helpers>
    </global>
</config>