<?xml version="1.0"?>
<config>
    <modules>
        <MageWorkshop_DRGeoIp>
            <version>0.1.0</version>
        </MageWorkshop_DRGeoIp>
    </modules>
    <global>
        <blocks>
            <drgeoip>
                <class>MageWorkshop_DRGeoIp_Block</class>
            </drgeoip>
        </blocks>
        <helpers>
            <drgeoip>
                <class>MageWorkshop_DRGeoIp_Helper</class>
            </drgeoip>
        </helpers>
        <models>
            <drgeoip>
                <class>MageWorkshop_DRGeoIp_Model</class>
                <resourceModel>drgeoip_resource</resourceModel>
            </drgeoip>
            <drgeoip_resource>
                <class>MageWorkshop_DRGeoIp_Model_Resource</class>
            </drgeoip_resource>
        </models>
        <events>
            <detailedreview_send_new_review_email_to_admin>
                <observers>
                    <drgeoip_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRGeoIp_Model_Observer</class>
                        <method>sendNewReviewEmailToAdmin</method>
                    </drgeoip_observer>
                </observers>
            </detailedreview_send_new_review_email_to_admin>
            <mageworkshop_modules_before_load>
                <observers>
                    <drgeoip_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRGeoIp_Model_Observer</class>
                        <method>checkIfModuleEnabled</method>
                    </drgeoip_observer>
                </observers>
            </mageworkshop_modules_before_load>
            <mageworkshop_module_enable>
                <observers>
                    <drgeoip_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRGeoIp_Model_Observer</class>
                        <method>enableModule</method>
                    </drgeoip_observer>
                </observers>
            </mageworkshop_module_enable>
            <mageworkshop_module_uninstall>
                <observers>
                    <drgeoip_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRGeoIp_Model_Observer</class>
                        <method>uninstallModule</method>
                    </drgeoip_observer>
                </observers>
            </mageworkshop_module_uninstall>
        </events>
        <template>
            <email>
                <drgeoip_admin_email_notify_template translate="label" module="drgeoip">
                    <label>New Review to Admin (DRGeoIP)</label>
                    <file>mageworkshop/drgeoip/review_new_to_admin.html</file>
                    <type>html</type>
                </drgeoip_admin_email_notify_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageWorkshop_DRGeoIp>
                    <files>
                        <default>MageWorkshop_DRGeoIp.csv</default>
                    </files>
                </MageWorkshop_DRGeoIp>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <drgeoip>
            <settings>
                <enable>1</enable>
            </settings>
            <admin_email_notify>
                <template>drgeoip_admin_email_notify_template</template>
            </admin_email_notify>
        </drgeoip>
    </default>
</config>
