<?xml version="1.0"?>

<config>
    <modules>
        <MageWorkshop_DRReminder>
            <version>1.0.2</version>
        </MageWorkshop_DRReminder>
    </modules>
    <global>
        <blocks>
            <drreminder>
                <class>MageWorkshop_DRReminder_Block</class>
            </drreminder>
        </blocks>
        <models>
            <drreminder>
                <class>MageWorkshop_DRReminder_Model</class>
                <resourceModel>drreminder_mysql4</resourceModel>
            </drreminder>
            <drreminder_mysql4>
                <class>MageWorkshop_DRReminder_Model_Mysql4</class>
                <entities>
                    <review_reminders>
                        <table>review_reminders</table>
                    </review_reminders>
                </entities>
            </drreminder_mysql4>
        </models>
        <helpers>
            <drreminder>
                <class>MageWorkshop_DRReminder_Helper</class>
            </drreminder>
        </helpers>
        <resources>
            <drreminder_setup>
                <setup>
                    <module>MageWorkshop_DRReminder</module>
                    <class>MageWorkshop_DRReminder_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </drreminder_setup>
            <drreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </drreminder_write>
            <drreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </drreminder_read>
        </resources>
        <template>
            <email>
                <drreminder_settings_remind_email_template translate="label" module="drreminder">
                    <label>Remind Review</label>
                    <file>mageworkshop/drreminder/remind_review.html</file>
                    <type>html</type>
                </drreminder_settings_remind_email_template>
            </email>
        </template>
        <events>
            <sales_order_save_after>
                <observers>
                    <drreminder_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRReminder_Model_Observer</class>
                        <method>initCreateReviewReminder</method>
                    </drreminder_observer>
                </observers>
            </sales_order_save_after>
            <mageworkshop_modules_before_load>
                <observers>
                    <drreminder_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRReminder_Model_Observer</class>
                        <method>checkIfModuleEnabled</method>
                    </drreminder_observer>
                </observers>
            </mageworkshop_modules_before_load>
            <mageworkshop_module_enable>
                <observers>
                    <drreminder_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRReminder_Model_Observer</class>
                        <method>enableModule</method>
                    </drreminder_observer>
                </observers>
            </mageworkshop_module_enable>
            <mageworkshop_module_uninstall>
                <observers>
                    <drreminder_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_DRReminder_Model_Observer</class>
                        <method>uninstallModule</method>
                    </drreminder_observer>
                </observers>
            </mageworkshop_module_uninstall>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <drreminder>
                    <file>mageworkshop/drreminder.xml</file>
                </drreminder>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorkshop_DRReminder>
                    <files>
                        <default>MageWorkshop_DRReminder.csv</default>
                    </files>
                </MageWorkshop_DRReminder>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <drreminder before="Mage_Adminhtml">MageWorkshop_DRReminder_Adminhtml</drreminder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <drreminder>
                <use>standard</use>
                <args>
                    <module>MageWorkshop_DRReminder</module>
                    <frontName>drreminder</frontName>
                </args>
            </drreminder>
        </routers>
        <layout>
            <updates>
                <drreminder>
                    <file>mageworkshop/drreminder.xml</file>
                </drreminder>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorkshop_DRReminder>
                    <files>
                        <default>MageWorkshop_DRReminder.csv</default>
                    </files>
                </MageWorkshop_DRReminder>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <mageworkshop_drreminder_reminder_send>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>drreminder/reminder::initRemindersSending</model>
                </run>
            </mageworkshop_drreminder_reminder_send>
        </jobs>
    </crontab>

    <default>
        <drreminder>
            <settings>
                <remind_enable>1</remind_enable>
                <enable_flag>1</enable_flag>
                <remind_choice_status>complete</remind_choice_status>
                <remind_send_email>1</remind_send_email>
                <remind_redirect_to_product>1</remind_redirect_to_product>
                <remind_delay_period>3h</remind_delay_period>
                <remind_email_sender>general</remind_email_sender>
                <remind_email_template>drreminder_settings_remind_email_template</remind_email_template>
            </settings>
        </drreminder>
    </default>
</config>

