<?xml version="1.0"?>
<config>
    <modules>
        <Shopbedding_Newsletter>
            <version>0.1.0</version>
        </Shopbedding_Newsletter>
    </modules>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <anyname before="Mage_Newsletter">Shopbedding_Newsletter</anyname>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
</config>