<?xml version="1.0"?>

<config>
    <modules>
        <Shopbedding_FreeShipping>
            <version>0.1.0</version>
        </Shopbedding_FreeShipping>
    </modules>
    <global>
        <models>
            <shopbedding_freeshipping>
                <class>Shopbedding_FreeShipping_Model</class>
            </shopbedding_freeshipping>
            <shipping>
                <rewrite>
                    <carrier_freeshipping>Shopbedding_FreeShipping_Model_Shipping_Carrier_Freeshipping</carrier_freeshipping>
                </rewrite>
            </shipping>
        </models>
        <helpers>
            <shopbeddingfs>
                <class>Shopbedding_FreeShipping_Helper</class>
            </shopbeddingfs>
        </helpers>
    </global>
</config>
