<?xml version="1.0"?>

<config>
    <modules>
        <MageWorkshop_Core>
            <version>1.0.0</version>
        </MageWorkshop_Core>
    </modules>
    <global>
        <blocks>
            <drcore>
                <class>MageWorkshop_Core_Block</class>
            </drcore>
        </blocks>
        <models>
            <drcore>
                <class>MageWorkshop_Core_Model</class>
            </drcore>
        </models>
        <helpers>
            <drcore>
                <class>MageWorkshop_Core_Helper</class>
            </drcore>
        </helpers>
        <events>
            <mageworkshop_module_uninstall>
                <observers>
                    <drcore_observer>
                        <type>singleton</type>
                        <class>MageWorkshop_Core_Model_Observer</class>
                        <method>uninstallModule</method>
                    </drcore_observer>
                </observers>
            </mageworkshop_module_uninstall>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageWorkshop_Core>
                    <files>
                        <default>MageWorkshop_Core.csv</default>
                    </files>
                </MageWorkshop_Core>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <drcore before="Mage_Adminhtml">MageWorkshop_Core_Adminhtml</drcore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <MageWorkshop_Core>
                    <files>
                        <default>MageWorkshop_Core.csv</default>
                    </files>
                </MageWorkshop_Core>
            </modules>
        </translate>
    </frontend>
</config>

