<config>
    <modules>
        <CommerceExtensions_Searchtermsimportexport>
            <version>0.1.0</version>
        </CommerceExtensions_Searchtermsimportexport>
    </modules>   
    <global>
        <models>
            <commerceextensions_searchtermsimportexport>
                <class>CommerceExtensions_Searchtermsimportexport_Model</class>
            </commerceextensions_searchtermsimportexport>
        </models>
        <resources><!--
            <searchtermsimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Searchtermsimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </searchtermsimportexport_setup> -->
            <searchtermsimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </searchtermsimportexport_write>
            <searchtermsimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </searchtermsimportexport_read>
        </resources>
    </global>
</config>