<?xml version="1.0"?>
<config>
    <modules>
        <HunterGroupCo_ConfigurableIndex>
            <version>0.1.0</version>
        </HunterGroupCo_ConfigurableIndex>
    </modules>
    <global>
        <models>
            <huntergroupco_configurableindex>
                <class>HunterGroupCo_ConfigurableIndex_Model</class>
                <resourceModel>huntergroupco_configurableindex_resource</resourceModel>
            </huntergroupco_configurableindex>
            <huntergroupco_configurableindex_resource>
                <class>HunterGroupCo_ConfigurableIndex_Model_Resource</class>
                <entities>
                    <saleable>
                        <table>huntergroupco_configurableindex_saleable</table>
                    </saleable>
                </entities>
            </huntergroupco_configurableindex_resource>
        </models>
        <helpers>
            <huntergroupco_configurableindex>
                <class>HunterGroupCo_ConfigurableIndex_Helper</class>
            </huntergroupco_configurableindex>
        </helpers>
        <resources>
            <huntergroupco_configurableindex_setup>
                <setup>
                    <module>HunterGroupCo_ConfigurableIndex</module>
                </setup>
            </huntergroupco_configurableindex_setup>
        </resources>
        <index>
            <indexer>
                <configurableindex_saleable>
                    <model>huntergroupco_configurableindex/saleableindexer</model>
                </configurableindex_saleable>
            </indexer>
        </index>
    </global>
</config>