<?xml version="1.0"?>
<config>
    <modules>
        <Mod_Adminhtml>
            <version>0.1.0</version>
        </Mod_Adminhtml>
    </modules>
    <global>
        <models>
            <mod_adminhtml>
                <class>Mod_Adminhtml_Model</class>
            </mod_adminhtml>
            <adminhtml>
                <rewrite>
                    <config_data>Mod_Adminhtml_Model_Config_Data</config_data>
                </rewrite>
            </adminhtml>
        </models>
    </global>
</config>