<config>
    <modules>
        <CommerceExtensions_Orderimportexport>
            <version>0.1.1</version>
        </CommerceExtensions_Orderimportexport>
    </modules>   
    <global>
        <blocks>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Block</class>
            </commerceextensions_orderimportexport>
        </blocks>
        <models>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Model</class>
            </commerceextensions_orderimportexport>
            <!--<shipping>-->
                <!--<rewrite>-->
                    <!--<shipping>CommerceExtensions_Orderimportexport_Model_Shipping</shipping>-->
                <!--</rewrite>-->
            <!--</shipping>-->
        </models>
        <resources><!--
            <orderimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Orderimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderimportexport_setup> -->
            <orderimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderimportexport_write>
            <orderimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderimportexport_read>
        </resources>
    </global>
	<default>
        <payment>
            <imported>
                <active>0</active>
                <model>commerceextensions_orderimportexport/payment_method_importedpayment</model>
                <order_status>pending</order_status>
                <title>Imported</title>
                <allowspecific>0</allowspecific>
            </imported>
         </payment>
        <carriers>
            <imported>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>commerceextensions_orderimportexport/shipping_importedshippingmethod</model>
                <name>imported</name>
                <title>imported</title>
                <handling_type>F</handling_type>
            </imported>
        </carriers>
    </default>
    <frontend>
        <blocks>
            <commerceextensions_orderimportexport>
                <class>CommerceExtensions_Orderimportexport_Block</class>
            </commerceextensions_orderimportexport>
        </blocks>
    </frontend>
</config>