
div.amshopby-column {
    float:left; width:83px;
}

select.amshopby-select {
    width:170px;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px; 
}

.amshopby-link{
    float:left;
    padding-left:5px; 
    padding-top:5px;
}

.amshopby-clearer {
	display:block; 
	clear:both; 
	overflow: hidden;
}
div.block-layered-nav dd a { text-align:center; /*display: block; float: left;  padding: 0 5px 10px;*/} 
div.block-layered-nav dd a.amshopby-attr {} 
div.block-layered-nav dd a.amshopby-attr-selected {color: #fc4e09 !important;} 
div.block-layered-nav dd a img {
  border: 1px solid #bfbfbf;
  box-shadow: 0 0 1px #999;
  float: none;
  padding: 2px;
  width: 85%;
}

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(../images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(../images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }



div.block-layered-nav.amshopby-collapse-enabled dt {
  background: url("../images/amshopby-collapsed.gif") no-repeat scroll 170px 17px rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 15px;
  box-shadow: none;
  
}

div.block-layered-nav  dt{box-shadow: 0 -5px 5px rgba(221, 221, 221, 1);}
div.block-layered-nav.amshopby-collapse-enabled dt:first-child{ box-shadow:none!important;margin-top: 0px;}
div.block-layered-nav.amshopby-collapse-enabled dt.amshopby-collapsed {
background:url("../images/amshopby-expanded.gif") no-repeat scroll 170px 17px rgba(0, 0, 0, 0); border-bottom:1px solid #ccc;}


div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:10px auto 5px auto; z-index:9; height:18px;  background: url(../images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {width:8px; top:3px; height:14px; background: transparent url(../images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}
.block-layered-nav .currently li {
  background: none repeat scroll 0 0 #ededed;
  padding: 10px;
  position:relative;
}
.btn-remove {
  display: block;
  font-size: 12px;
  width: 81px;
  font-weight: normal;
}
.block-layered-nav .currently .btn-previous, .block-layered-nav .currently .btn-remove {
  margin: 0;
  position: absolute;
  right: 4px;
  top: 12px;
}

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;
    
}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:2px 5px;
    background:#FEC;
    border:1px solid #FAA819;
    color:#1F5070;
    text-align:left;
    width:200px;
    position:absolute;
}

.amshopby-slider-price-range 
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
}
div.amshopby-overlay {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('../images/amshopby-overlay.gif') 50% 50% no-repeat;
}

/*
 * Advanced Categories
 */
.amshopby-advanced li {
	clear: both;
}
.amshopby-advanced li.level1 {
	padding-left: 20px;
}
.amshopby-advanced li.level2 {
	padding-left: 30px;
}
.amshopby-advanced li.level3 {
	padding-left: 40px;
}
.amshopby-advanced li.level4 {
	padding-left: 50px;
}


.amshopby-advanced li.active > a {
	font-weight: bold;
}

/*
 * Slider Bar
 */
.amshopby-slider-bar {
	position:absolute; 
	background: #999; 
	height: 6px; 
	top: 6px; 
	z-index: 1;  
}

/*
 * Subcategores block
 */
.amshopby-subcategory-image {
	overflow: auto; 
}
.catalog-category-view .category-list {
  padding-top: 30px;
}
.padding30{}
.btn-remove-inline {height:12px; margin-left: 4px; color: #ff5300; font-weight: bold;}
.btn-remove-inline:hover { /* background-position: center bottom; */ color: #ff5300;}
.amshopby-hightlighted { background: yellow;}

#narrow-by-list > dd > ol > li:first-child { bottom: 0 !important;}
#narrow-by-list > dd > ol > div:first-child { bottom: 0 !important;}
.attribute-container .align-center{text-align:center;}
.attribute-container > div {
  float:left;
  margin: 0 0 0 2px;
  min-height: 75px;
  width: 56px;
}
.attribute-container > div:nth-child(3n){margin-right:0}
.attribute-container > div:nth-child(3n+1){margin-left:0}
.attribute-container > div:first-child{margin-left:0}
.attr-lbl { font-size: 9px;margin-top:5px;}
.image-lbl {
  display: block;
  position: relative;
  width:40px;
  margin: 0 auto;
}
.amshopby-attr:hover > .image-lbl {
  border: 2px solid #000;
}
.amshopby-attr:hover > .attr-lbl {
  font-weight: bold;
}
.attribute-container {
  padding:15px 0px 15px 5px;
}
ol.price-layer {
  padding: 0 10px 25px;
}
.block-title .actions {
  border: 1px solid #ccc;
  line-height: 23px;
  margin-left: 29px;
  padding: 2px 4px;
}
#narrow-by-list ol {
  box-shadow: 0 -10px 5px -4px rgba(221, 221, 221, 1) inset;
    max-height: 300px;
  overflow: auto;
}
#narrow-by-list ol.open {
  box-shadow: none;
}
.block-title > div {
  display: inline;
}
.filter-item {
  float: left;
  line-height: 20px;
  margin-right: 10px;
  position: relative;
}
.currently.filters {
  border: 1px solid #ccc;
  clear: both;
  padding: 10px;
  border-radius: 8px;
}
/*===================================================*/
.itm-heading {
  color: #777;
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 10px;
  text-transform: uppercase;
}
.color-red {
  color: #ff5300 !important;
}
.filter-count-wrapper.filter-item {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  left: -235px;
  position: absolute;
  top: -36px;
  padding: 5px 21px 5px 10px;
  float: left;
}
.filter-count-wrapper.filter-item > span {
  font-size: 18px;
 /* font-weight: bold;*/
}
.filter-count-wrapper.filter-item .filter-count {
  color: #fc4e09;
}
.btn-remove-inline > img {
  margin-top: 5px;
  margin-left:5px;
}
.sidebar .block.block-layered-nav dl#narrow-by-list dd {
  box-shadow:none!important;
  border:none!important;
  background: url("../images/facet_header_line.png") no-repeat scroll center top rgba(0, 0, 0, 0);
  
}



.attribute-container:after {
  clear: both;
  content: "";
  display: table;
}
.sidebar .block.block-layered-nav dl#narrow-by-list dd.open-dd {
  box-shadow: none !important;
}

.align-center{text-align:center;}










