<?xml version="1.0"?>
<config>
    <modules>
        <GoMage_LoginEncryption>
            <version>1.0</version>
        </GoMage_LoginEncryption>
    </modules>
    <global>
        <helpers>
            <core>
                <encryption_model>GoMage_LoginEncryption_Model_Encryption</encryption_model>
            </core>
        </helpers>
    </global>
</config>