<?xml version="1.0"?>
<config>
    <modules>
        <BorderJump_Xternal>
            <version>1.0.0</version>
        </BorderJump_Xternal>
    </modules>
    <global>
    
        <blocks>
            <borderjump_externals>
                <class>BorderJump_Xternal_Block</class>
            </borderjump_externals>
            <page>
                <rewrite>
                    <html_head>BorderJump_Xternal_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        
    </global>
    <frontend>
        <layout>
            <updates>
                <inchoo_xternal module="Inchoo_Xternal">
                    <file>borderjump_xternal.xml</file>
                </inchoo_xternal>
            </updates>
        </layout>
    </frontend>

</config>
