<?xml version="1.0"?>
<config>
    <modules>
        <EM_Newsletteroptin>
            <version>1.0.0</version>
        </EM_Newsletteroptin>
    </modules>
    <frontend>
        <translate>
            <modules>
                <EM_Newsletteroptin>
                    <files>
                        <default>EM_Newsletteroptin.csv</default>
                    </files>
                </EM_Newsletteroptin>
            </modules>
        </translate>
        <layout>
            <updates>
                <newsletteroptin>
                    <file>newsletteroptin.xml</file>
                </newsletteroptin>
            </updates>
        </layout>
        <events>
        	<checkout_type_onepage_save_order>
                <observers>
                    <setCustomerIsSubscribed>
                        <type>singleton</type>
                        <class>newsletteroptin/observer</class>
                        <method>setCustomerIsSubscribed</method>
                    </setCustomerIsSubscribed>
                </observers>
            </checkout_type_onepage_save_order>
		</events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <EM_Newsletteroptin>
                    <files>
                        <default>EM_Newsletteroptin.csv</default>
                    </files>
                </EM_Newsletteroptin>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
        	<checkout>
        		<rewrite>
        			<type_onepage>EM_Newsletteroptin_Model_Checkout_Type_Onepage</type_onepage>
        		</rewrite>
        	</checkout>
            <newsletteroptin>
                <class>EM_Newsletteroptin_Model</class>
            </newsletteroptin>
        </models>
        <resources>
            <newsletteroptin_setup>
                <setup>
                    <module>EM_Newsletteroptin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsletteroptin_setup>
            <newsletteroptin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsletteroptin_write>
            <newsletteroptin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsletteroptin_read>
        </resources>
        <blocks>
        	<newsletteroptin>
                <class>EM_Newsletteroptin_Block</class>
            </newsletteroptin>
        </blocks>
        <helpers>
            <newsletteroptin>
                <class>EM_Newsletteroptin_Helper</class>
            </newsletteroptin>
        </helpers>
    </global>
    <default>
    	<newsletter>
    		<newsletteroptin>
    			<enable>1</enable>
    			<checked>1</checked>
    			<visible_guest>1</visible_guest>
    			<visible_register>1</visible_register>
    		</newsletteroptin>
    	</newsletter>
    </default>
</config>