<?xml version="1.0"?>
<!--
/**
 * @category    S3ibusiness
 * @package     S3ibusiness_Giftpromo
 * @copyright   Copyright (c) 2011 S3i Business sarl au. (http://www.s3ibusiness.com)
 * @author      Ahmed Mahi <1hmedmahi@gmail.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Shopbedding_Coupon>
            <version>0.0.1</version>
        </Shopbedding_Coupon>
    </modules>
    <admin>
        <routers>
            <coupon>
                <use>admin</use>
                <args>
                    <module>Shopbedding_Coupon</module>
                    <frontName>coupon</frontName>
                </args>
            </coupon>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <promo>
                <children>
                    <quote translate="title" module="salesrule">
                        <children>
                            <coupon translate="title" module="coupon">
                                <title>Coupon Export</title>
                                <action>coupon/adminhtml_index</action>
                            </coupon>
                        </children>
                    </quote>
                </children>
            </promo>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <coupon translate="title" module="coupon">
                            <title>Coupon Export</title>
                            <sort_order>10</sort_order>
                        </coupon>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <coupon translate="title" module="coupon">
                                            <title>Coupon Module</title>
                                            <sort_order>50</sort_order>
                                        </coupon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Shopbedding_Coupon>
                    <files>
                        <default>Shopbedding_Coupon.csv</default>
                    </files>
                </Shopbedding_Coupon>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <coupon>
                <class>Shopbedding_Coupon_Model</class>
                <resourceModel>coupon_mysql4</resourceModel>
            </coupon>
            <coupon_mysql4>
                <class>Shopbedding_Coupon_Model_Mysql4</class>
                <entities>
                    <giftpromo>
                        <table>giftpromo</table>
                    </giftpromo>
                </entities>
            </coupon_mysql4>
        </models>
        <resources>
            <coupon_setup>
                <setup>
                    <module>Shopbedding_Coupon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </coupon_setup>
            <coupon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </coupon_write>
            <coupon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </coupon_read>
        </resources>
        <blocks>
            <coupon>
                <class>Shopbedding_Coupon_Block</class>
            </coupon>
        </blocks>
        <helpers>
            <coupon>
                <class>Shopbedding_Coupon_Helper</class>
            </coupon>
        </helpers>
    </global>
</config>