<config>
    <modules>
        <CommerceExtensions_Customerreviewsimportexport>
            <version>0.1.0</version>
        </CommerceExtensions_Customerreviewsimportexport>
    </modules>   
    <global>
        <blocks>
            <customerreviewsimportexport>
                <class>CommerceExtensions_Customerreviewsimportexport_Block</class>
            </customerreviewsimportexport>
            <adminhtml>
                <rewrite>
                    <system_convert_profile_grid>CommerceExtensions_Customerreviewsimportexport_Block_Adminhtml_System_Convert_Profile_Grid</system_convert_profile_grid>
                    <system_convert_gui_grid>CommerceExtensions_Customerreviewsimportexport_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <customerreviewsimportexport>
                <class>CommerceExtensions_Customerreviewsimportexport_Model</class>
            </customerreviewsimportexport>
        </models>
        <helpers>
            <customerreviewsimportexport>
                <class>CommerceExtensions_Customerreviewsimportexport_Helper</class>
            </customerreviewsimportexport>
        </helpers>
        <resources>
            <customerreviewsimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Customerreviewsimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerreviewsimportexport_setup>
            <customerreviewsimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerreviewsimportexport_write>
            <customerreviewsimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerreviewsimportexport_read>
        </resources>
    </global>
    <adminhtml>
		<menu>
			<system>
				<children>
					<convert>
						<children>
							<customerreviewsimportexport translate="title">
								<title>CommerceExtensions Customer Reviews Import/Export</title>
								<action>adminhtml/customerreviewsimportexport</action>
								<sort_order>90</sort_order>
							</customerreviewsimportexport>
						</children>
					</convert>
				</children>
			</system>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
            <admin>
                <children>
                    <system>
                        <children>
                            <convert>
                                <children>
                                    <customerreviewsimportexport translate="title">
                                        <title>CommerceExtensions Customer Reviews Import/Export</title>
                                    </customerreviewsimportexport>
                                </children>
                            </convert>
                        </children>
                    </system>
                </children>
            </admin>
			</resources>
		</acl>
        <layout>
            <updates>
                <customerreviewsimportexport>
                    <file>customerreviewsimportexport.xml</file>
                </customerreviewsimportexport>
            </updates>
        </layout>
    </adminhtml>
	<admin>
	 <routers>
		 <adminhtml>
			 <args>
				 <modules>
				 	<customerreviewsimportexport after="Mage_Adminhtml">CommerceExtensions_Customerreviewsimportexport_Adminhtml</customerreviewsimportexport>
				 </modules>
			 </args>
		 </adminhtml>
	 </routers>
	</admin>
</config>