<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml for Channel Adviser data feed
    Created on : October 19, 2010, 2:49 PM
    Author     : blobdell
    Description:
        Purpose of the document follows.
-->

<config>

    <global>
        <blocks>
            <channeladviserfeed>
                <class>Gorilla_ChannelAdviserFeed_Block</class>
            </channeladviserfeed>
        </blocks>
    </global>


    <modules>
        <Gorilla_ChannelAdviserFeed>
            <version>0.1.0</version>
        </Gorilla_ChannelAdviserFeed>
    </modules>

    <frontend>
        <routers>
            <channeladviserfeed>
                <use>standard</use>
                <args>
                    <module>Gorilla_ChannelAdviserFeed</module>
                    <frontName>channeladviserfeed</frontName>
                </args>
            </channeladviserfeed>
        </routers>

        <layout>
            <updates>
                <channeladviserfeed>
                    <file>channeladviserfeed.xml</file>
                </channeladviserfeed>
            </updates>
        </layout>
    </frontend>
</config>
